
              <%= if veil_user_id = assigns[:veil_user_id] do %>
                Authenticated as <%= veil_user_id %>
                <a href="<%= session_path(@conn, :delete, assigns.session_unique_id) %>">Sign out</a>
              <% else %>
                <a href="<%= user_path(@conn, :new) %>">Sign in</a>
              <% end %>
